.form {
   width: 50rem;  
   box-shadow: 1px 1px 2px 1px rgb(187, 187, 187);
}
#photos {
    /* display: none;  */
}
.upload {
    border: 2px black dashed;
    padding: 30px;
    width: 60%; 
    cursor: pointer; 
    margin: 5px auto; 
}
