.mainContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  height: 35rem;
}

.productHeader {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
}

.productText {
  font-weight: bold;
  font-size: 1.2rem;
}

.productRowSpacing {
  margin-top: 1.5rem;
  padding-left: 0.5rem;
}

.addToCartCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.counterButton:hover {
  cursor: pointer;
}

.button {
  width: 5rem;
}
